/APIGatewaySupermercados/target/
/APIGatewayConsumidores/target/
/GestorConsumidores/target/
/GestorSupermercados/target/
/CapaDatosSupermercados/target/
/CapaDatosConsumidores/target/
/CapaDatosProductos/target/
/GestorProductos/target/
/GUIConsumidores/target/
/GUISupermercados/target/
/ProfecoReact/node_modules/
/sistemaprofeco/nbproject/private/
/CapaDatosOfertas/target/
/GestorOfertas/target/
/PublicadorOfertas/target/
