.cuerpo-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0e231e;
}

.separador {
  width: 2px;
  background-color: #0e231e;
  margin: 0 10px;
}