.registro-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f9f9f9;
    position: relative;
    
}

.registro-form-container .titulo-registro {
    text-align: center;
    margin-bottom: 20px;
}

.registro-form-container form {
    margin-bottom: 20px;
}

.registro-form-container input[type='email'],
.registro-form-container input[type='password'],
.registro-form-container input[type='text'],
.registro-form-container select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 20px;
    color: #6d6d6d;
}

.registro-form-container .botonRegistrar {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #9C1945;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.registro-form-container .botonRegistrar:hover {
    background-color: #550f26;
}

.registro-mensaje-error {
    color: red;
    margin-top: 10px;
    position: absolute;
    bottom: -30px; 
    left: 0;
    width: 100%;
    text-align: center;
  }

.registro-link-registro{
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }