.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 20px;
  background-color: #0e231e;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.logo-container {
  margin-right: auto;
}
.logo {
  height: 72px;
}
.menu-options a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.menu-options a:hover {
  text-decoration: underline;
}
.menu-options button {
  background-color: #0e231e;
  color: #fff;
  border: 1px solid #0e231e;
  padding: 10px 20px;
  margin-right: 10px; /* Ajusta el margen según necesites */
  transition: transform 0.2s, border-color 0.2s;
}

.menu-options button:hover {
  border-color: #ccc;
  transform: scale(1.05); /* Hace que el botón se agrande un poco al pasar el cursor por encima */
}

