.cuerpo-gestionofertas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e231e;
}
.cuerpo-tablas{
    align-items: flex; 
    padding: 50px;
}